@model BookStore.DAL.Models.Person
<html>
<head>
</head>
<body class="bg-light ">
    <div class="row bg-secondary align-items-start marginLeftNull">
        <h2>Registration</h2>
    </div>
    <div class="col-md-3 registrationTextBoxStyle">
        @Html.TextBoxFor(model => model.FirstName, htmlAttributes: new { @id = "firstName", @class = "form-control", @placeholder = "First Name*" })
    </div>
    <div class="col-md-3 registrationTextBoxStyle">
        @Html.TextBoxFor(model => model.SecondName, htmlAttributes: new { @id = "secondName", @class = "form-control", @placeholder = "Second Name*" })
    </div>
    <div class="col-md-3 registrationTextBoxStyle">
        @Html.TextBoxFor(model => model.Age, htmlAttributes: new { @id = "age", @class = "form-control", @placeholder = "Age*" })
    </div>
    <div class="col-md-3 registrationTextBoxStyle">
        @Html.TextBoxFor(model => model.Login, htmlAttributes: new { @id = "Email", @class = "form-control", @placeholder = "Login*" })
    </div>
    <div class="col-md-3 registrationTextBoxStyle">
        @Html.TextBoxFor(model => model.Password, htmlAttributes: new { @id = "Password", @class = "form-control", @placeholder = "Password*" })
    </div>
    <div class="col-md-3 registrationTextBoxStyle">
        @Html.TextBoxFor(model => model.Password, htmlAttributes: new { @id = "PasswordConfirm", @class = "form-control", @placeholder = "Password*" })
    </div>
    <div class="row">
        <div class="col-auto registrationbuttonSave">
            <input id="RegisterUser" class="btn btn-secondary" value="Register" type="submit" />
        </div>
        <div class="col-auto registrationbuttonBack">
            <input id="RegisterBack" class="btn btn-secondary" value="Back" type="submit" />
        </div>
    </div>

    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalTitle" />
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h2 class="modal-title" id="registerModalBody" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>