@model BookStore.DAL.Models.Person
<html>
<head>
</head>
<body class="bg-light ">
    <div class="row bg-secondary align-items-start marginLeftNull">
        <h2>Registration</h2>
    </div>
    <div class="col-md-3 registrationTextBoxStyle">
        @Html.TextBoxFor(model => model.FirstName, htmlAttributes : new { @class = "form-control", @placeholder = "Enter First Name*"})
    </div>
    <div class="col-md-3 registrationTextBoxStyle">
        @Html.TextBoxFor(model => model.SecondName, htmlAttributes : new { @class = "form-control", @placeholder = "Enter Second Name*"})
    </div>
    <div class="col-md-3 registrationTextBoxStyle">
        @Html.TextBoxFor(model => model.Age, htmlAttributes : new { @class = "form-control", @placeholder = "Enter Age*"})
    </div>
    <div class="col-md-3 registrationTextBoxStyle">
        @Html.TextBoxFor(model => model.Login, htmlAttributes : new { @class = "form-control", @placeholder = "Enter Login*" })
    </div>
    <div class="col-md-3 registrationTextBoxStyle">
        @Html.TextBoxFor(model => model.Password, htmlAttributes : new { @class = "form-control", @placeholder = "Enter Password*" })
    </div>
    <div class="row">
        @using (Html.BeginForm("Registration", "Home", FormMethod.Post))
        {
            <div class="col-auto" style=" padding-top: 30px; padding-left : 20px">
                <button class="btn btn-secondary" type="submit">Register</button>
            </div>
        }
        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            <div class="col-auto" style=" padding-top: 30px">
                <button class="btn btn-secondary" type="submit">Back</button>
            </div>
        }
    </div>
    @if (TempData["noticeRegistration"] != null)
    {
        <p style="padding-left : 10px; color : red">
            @TempData["noticeRegistration"]
        </p>
    }
</body>
</html>