@using BookStore.DAL.Enums
<div id="Tables">
    @if (ViewBag.TypeTable == TypeTable.Category.ToString())
    {
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Book</th>
                    <th scope="col">Category</th>
                    <th scope="col">BookId</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model.Categories)
                {
                    <tr>
                        <th scope="row">@category.Id</th>
                        <th>@category.Book.Name</th>
                        <th>@category.CategoryType</th>
                        <th>@category.BookId</th>
                    </tr>
                }
            </tbody>
        </table>
    }
    @if (ViewBag.TypeTable == TypeTable.Author.ToString())
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Book</th>
                    <th>Avtor</th>
                    <th>Publishers</th>
                    <th>BookId</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var avtor in Model.Avtors)
                {
                    <tr>
                        <th>@avtor.Id</th>
                        <th>@avtor.Book.Name</th>
                        <th>@avtor.NameAvtor</th>
                        <th>@avtor.Publisher</th>
                        <th>@avtor.BookId</th>
                    </tr>
                }
            </tbody>
        </table>
    }
    @if (ViewBag.TypeTable == TypeTable.Book.ToString())
    {
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Book</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var book in Model.Books)
                {
                    <tr>
                        <th>@book.Id</th>
                        <th>@book.Name</th>
                        <th>
                            <img src="~/images/uploadimage/@book.Path" />
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>